body{
    background-image: url('../images/backgrounds/background-signin.jpg');
    background-size: cover;
    overflow-x: hidden;
    }
    #table{
    float:left;
    height:650px;
    margin-top:30px;
    margin-left:440px;
    width:40%;
    padding:10px;
    background-color: white;
    box-shadow: 0 0 15px rgb(124, 19, 71);
    border-radius: 10px;
    }
    #formulari{
    font-family: 'Open Sans';
    color:rgb(124, 19, 71);
    font-size:40px;
    position:relative;
    left:230px;
    top:30px;
    font-weight: bolder;
    }
    .users{
    position:relative;
    left:110px;  
    font-family: 'Open Sans';
    color:rgb(124, 19, 71);
    font-size:20px;
    font-weight: bolder;
    top:70px;
    }
    .check{
    position:relative;
    left:110px;
    font-family: 'Open Sans';
    color:rgb(124, 19, 71);
    font-size:15px;
    top:70px;
    }
    input[type="email"]{
    position:relative;
    left:110px;  
    top:70px; 
    font-size:30px; 
    border-radius: 10px;
    }
    input[type="email"]::placeholder{
    font-size:20px; 
    }
    input[type="text"]{
    position:relative;
    left:110px;   
    top:70px;
    font-size:30px; 
    border-radius: 10px;
    }
    input[type="text"]::placeholder{
    font-size:20px; 
    }
    input[type="password"]{
    position:relative;
    left:110px;  
    top:70px; 
    font-size:30px; 
    border-radius: 10px;
    }
    input[type="password"]::placeholder{
    font-size:20px; 
    }
    input[type="date"]{
    position:relative;
    left:110px;   
    top:70px; 
    font-size:25px; 
    border-radius: 10px;
    }
    input[type="checkbox"]{
    position:relative;
    left:110px; 
    top:70px; 
    font-size:40px; 
    border-radius: 10px;
    }
    input[type="submit"]{
    position:relative;
    left:230px;  
    top:70px;
    font-size:25px; 
    border-radius: 10px;
    }
    input[type="submit"]:hover{
    position:relative;
    left:230px;  
    top:70px;
    font-size:25px; 
    border-radius: 10px;
    background-color:rgb(124, 19, 71);
    color:white;
    }
    #home{
    position:relative;
    left:120px; 
    bottom: 160px;
    font-size:21px; 
    border-radius: 10px;
    font-family:'Open Sans';
    color:black;
    }